---
const PROJECTS = [
  {
    title: 'Project 1',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    link: '#',
    github: '#',
    image: 'https://via.placeholder.com/300x200',
    tags: ['HTML', 'CSS', 'JavaScript']
  }
]
---

{
  PROJECTS.map(({title, description, tags, image}) => (
    <article>
        <h3>{title}</h3>
        <p>{description}</p>
        <ul>
          {tags.map(tag => (
            <li>{tag}</li>
          ))}
        </ul>
        <img src={image} alt={`Captura de pantalla del proyecto ${image}`}>
      </article>
  ))
}